<!DOCTYPE html>
<html>

   <head>
      <title>Request Header Parser API</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
            <h1 class="header">
                Request Header Parser microservice
            </h1>
            <blockquote>
               I can get the IP address, language and operating system for my browser.
            </blockquote>
            <h3>Navigate to <a href = "https://header-parser-shrey.glitch.me/api/rhp/">https://header-parser-shrey.glitch.me/api/rhp/</a> to see information about your browser.</h3><br>
            <h3>Example output:</h3>
            <code>
                {
                  "ipAddress": "123.456.789.0",
                  "language": "en-US",
                  "OS" : "Windows NT 10.0; Win64; x64"
                }
            </code>
        </div>
   </body>

</html>
